source/.alpackages/Microsoft_Application_27.4.45366.45675.app
source/.alpackages/Microsoft_Base Application_27.4.45366.47755.app
source/.alpackages/Microsoft_Business Foundation_27.4.45366.45675.app
source/.alpackages/Microsoft_System Application_27.4.45366.46663.app
source/.alpackages/Microsoft_System_27.0.47816.0.app
source/Mi-One Brands_Mi-One Brands Bin Location Extension_1.0.0.0.app
*.app